{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<h2>Answer to polls:</h2>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<p>Leave a comment or poll suggestion</p>
<form action='comment/' method="POST">
    {% csrf_token %}
    <input type="text" name="Comment">
    <input type="submit" value="Comment"/>
</form>

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<form action='logout/' method="POST">
    {% csrf_token %}
    <input type="submit" value="Logout"/>
</form>

<form action='login/' method="POST">
    {% csrf_token %}
    <input type="submit" value="Log in"/>
</form>

<form action='register/' method="POST">
    {% csrf_token %}
    <input type="submit" value="Register new user"/>
</form>

<h3>Latest comments:</h3>
{% if latest_comment_list %}
    <ul>
    {% for comment in latest_comment_list %}
        <li>{{ comment.comment }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No comments are send.</p>
{% endif %}
